---
layout: default
---

<div style="padding-left: 30px; padding-right: 55px">
  <div style="text-align: right; width:70%; float:right">
    {{ page.date | date: "%-d %B %Y" }}

    <h1>{{ page.title }}</h1>

    <p class="view"> {{ page.author | default: site.author }}

      {% if page.tags %}
      <br><small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
      {% endif %}
    </p>
  </div>

  <div class="postthumb">
    <img src="{{ page.thumb | relative_url}}">
  </div>

  <div style="clear: both; padding-top: 25px">
    {{content}}
  </div>
</div>

